html{
    margin:0;
    padding: 0;
    scroll-behavior:smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(235, 235, 235);
    }
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    border: 1px solid black;
}
.menu-icon{
    cursor: pointer;
}
.menu-icon svg{
    width: 100px;
    height: 50px;
}
.menu-links{
    display: none;
    transition: all 0.3s ease;
}
.menu-icon:hover + .menu-links{
    display: block;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}
img{
    border-radius: 50%;
    height: 100%;
}

