html{
    margin:0;
    padding: 0;
    scroll-behavior:smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* The following refers to the navbar of the website. */
.navbar{
    height:5vh;
    position:fixed;
    top:0;
    width:100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: background 0.3s ease;
}
.nav-link-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 100%;
    min-width: fit-content;
    max-width: 40vw;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    transition: color 0.3s ease;
    padding: 10px;
}
/* The following refers to the first gradient section of the website. */
.home{
    background: linear-gradient(to right, rgb(222, 208, 197),rgb(174, 185, 212));
    height: 50vh;
    width: 100%;
}
.box-for-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.my-name-link{
    text-decoration: none;
}
.my-name{
    font-size: clamp(5rem, 10vw, 6rem);
    font-weight: 700;
    color: white;
    margin:auto;
    padding:0;
    transition: font-size 0.5s ease;
}
.my-name:hover{
    font-size: clamp(2rem, 10vw, 7rem);
}
.my-title{
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 300;
    color: white;
    text-align: center;
    margin:0;
    padding:0;
}
/* The following refers to the About ME section of the website. */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/black.jpg") center/cover no-repeat;
    height: 50vh;
    width: 100%;

}
.about-card-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    height: 95%;
    margin-left: 45%;
    border-radius: 20px;
}
.about-card{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.about-card:hover{
    background: rgba(255, 255, 255, 0.7);
}
.about-title{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
}
.about-text{
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    text-align: center;
}
.projects{
    height: 50vh;
}
.projects-container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);;
    height: 100%;
    border: 1px solid blue;
}
.projects-title{
    margin: auto;
    padding: 30px;
    border: 1px solid black;
    grid-column: 1/4;
    font-size: 2rem;
}
.project-card{

    border:1px solid black;
}
